table {
    border: solid 1px black;
    border-collapse: collapse;
}

th{
    font-size: 2em;
    text-align: end;
    padding-right: 20px;
}

td {
    border: solid 1px black;
   
}
button{
    width: 100%;
    font-size: 2em;
    padding: 10px 20px;
}